.form_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    max-width: 450px;
    margin: auto;
    background-color: white;
    padding: 1em;
}

.form_container label {
    display: block;
    font-weight: bold;
}

.form_container input:not(input[type='submit']):not(input[type='file']):not(input[type='color']) {
    width: 100%;
    margin-bottom: 0.8em;
    font-size: 1.2em;
    padding: 0.3em;
    border: 1px solid;
    border-radius: 5px;
    outline: none;
   
    /* background-color: var(--room-color); */
}

.form_container input[type='submit'] {
    padding: 0.5em 0.8em;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: var(--fifth-color);
}

.form_container input[type='submit']:hover {
    background-color: var(--fifth-color);
    color: var(--room-color);
}

.form_container input[type='file'] { 
    border: none;
    outline: none;
    margin: 1em;
}

.form_container input[type='color'] {
    width: 100px;
    height: 80px;
    margin: 1em 0;
}