* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

:root {
  --primary-color: #fb0000;
  --secondary-color: #F2E638;
  --third-color: #F2D338;
  --room-color: #ededed;
  --fifth-color: #000000;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--room-color);
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 0.4em 0 0.8em;
}

input[type='submit'],
.btn {
  text-decoration: none;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  font-weight: bold;
  color: var(--fifth-color);
  border: 1px solid;
  margin: 0.5em 0;
  background-color: white;
  cursor: pointer;
}

input[type='submit']:hover,
.btn:hover {
  background-color: var(--fifth-color);
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
  background-color: white;
  padding: 0.5em;
  border-radius: 5px;
}

nav div {
  display: flex;
}

h1,
h2 {
  text-align: center;
}

@media (max-width: 396px) {
  body {
    font-size: .8em;
  }
}

@media (max-width:720px) {
  .over-hidden {
    overflow: hidden;
  }

  .btn_menu {
    font-weight: bold;
  }

  .btn_menu svg, .btn_menu .exit {
    background-color: var(--fifth-color);
    color: white;
    margin-left: 3px;
    margin-top: 1px;
    font-weight: 100;
  }

  .exit {
    padding: 0 .3em .05em;
  }

  .back {
    height: calc(100vh - 50px);
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #0000007d;
    width: 100vw;
    z-index: 5;
  }

  nav #menu-toglle {
    position: absolute;
    display: flex;
    gap: 1em;
    flex-direction: column;
    background-color: white;
    top: 50px;
    right: 0;
    width: 80vw;
    max-width: 400px;
    height: calc(100vh - 50px);
    z-index: 20;
    padding: 1em 0 0 .6em;
  }
  nav #menu-toglle p {
    display: inline-block;
  }  
}